<div class="row">
	<div class="col-sm-6 col-xs-12 col-sm-offset-3 well">
		<strong>Descripcion:</strong>
		<%= @pin.description %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-9">
		<%= link_to 'Editar', edit_pin_path(@pin) %> |
		<%= link_to 'Regresar', pins_path %>
	</div>
</div>